body {
    font-family: Averta;
}
table {
    font-family: Averta;
    width: 100%;
}
td {
    font-family: Averta;
}
.TextBox_StyleSheet {
    font-family: Averta;
}
.DropDown_StyleSheet {
    font-family: Averta;
    height: 21px;
}
.Button_StyleSheet {
    font-family: Averta;
}
.Label_StyleSheet {
    font-family: Averta;
}
.Grid_StyleSheet {
    font-family: Averta;
}

